<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<title>文化</title>
	<link rel="icon" href="static/images/SecureImages/logo.png">
	<link rel="stylesheet" type="text/css" href="static/css/common.css">
	<link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/culture.css">
</head>
<body>
	<div class="fix-groups">
		<a class="download-bt" href="http://120.24.208.130:8081/" target="blank">
			<i class="download icon"></i>
			<br>
			<span>下载</span>
		</a>
		<a class="female-bt">
			<i class="wechat icon"></i>
				<br>
				<span class="erweima"><img src="static/images/erweima.jpg"></span>
			<span>客服</span>
		</a>
	</div>
	<div class="banner">
		<div class="my-content">
			<a class="logo" href="/">
				<img src="static/images/logo.png" class="logoimg">
			</a>			
			<a class="item" href="/">易助首页</a>
			<a class="item" href="/structure">体系架构</a>
			<a class="item" href="/culture">文化理念</a>
			<a class="item" href="/help">帮助中心</a>
			<a class="item" href="/aboutus">关于我们</a>
			<a class="login" href="/account/login">
				<i class="sign in icon"></i>
				登录
			</a>
			<a class="signup" href="/account/regist">
				注册
				<i class="sign in icon"></i>
			</a>
		</div>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide one">
				<img src="static/images/first.jpg">
				<div class="text">
					<h2>华佗救人</h2>
					<p>有一次华佗外出看病回家的途中碰到一个人蹲在路边呻吟，就主动走上前去询问。得知那人肚子疼得什么都吃不下时，华佗就在路旁为他诊断后告诉他说：“你肚子里有虫，可向附近小店要三小杯醋酸，喝下去就会好了。”那人照办，果然肚子不疼了。当这位病人要感谢时华佗时，华佗却连名字也没有留下就走了。</p>
				</div>
			</div>
			<div class="swiper-slide two">
				<img src="static/images/second.jpg">
				<div class="text">
					<h2>尽己之力，因材施教</h2>
					<p>有力者疾以助人，有财者勉以分人，有道者劝以教人。若此，则饥者得食，寒者得衣，乱者得治。 ——墨子</p>
				</div>
			</div>
			<div class="swiper-slide three">
				<img src="static/images/third.jpg">
				<div class="text">
					<h2>举手之劳，救人之危</h2>
					<p>无恻隐之心，非人也；无羞耻之心，非人也；无辞让之心，非人也；无是非之心，非人也。            ——孟子
					</p>
				</div>
			</div>
			<div class="swiper-slide four">
				<img src="static/images/fourth.jpg">
				<div class="text">
					<h2>李士谦乐善好施</h2>
					<p>北朝魏齐时期的李士谦家境富裕，且乐善好施。有一年春荒，许多人家都断了粮，他就将家中的数千石存谷借给断粮的人。第二年，因仍歉收导致上年借谷的人都无法偿还，但李先生不仅不要求他们偿还欠谷，还招待他们在家中吃饭，当众把他们借谷的债券烧为灰烬，并对他们说：‘我家中的存谷，本来是预备救济人家患难之用的，并不是想囤积图利。现在你们的债务已经了结，希望你们不要再放在心上。’过了几年，又遇到了大饥荒，李先生出尽大量的家产办理施粥，救活不下一万多饥民的性命。
					</p>
				</div>
			</div>
			<div class="swiper-slide five">
				<img src="static/images/fifth.jpg">
				<div class="text">
					<h2>王羲之助人卖扇</h2>
					<p>著名书法家王羲之的书法天下闻名，但是他轻易不肯给人写字。有一天，王羲之在路上遇见了一位贫苦的老婆婆，提着一篮竹扇在集市旁叫卖，却没有什么人去买。他看到后心里很感同情，于是就帮老婆婆在每把扇子上都题上字。人们知道后纷纷 围拢来抢着购买，一篮子竹扇很快被抢购一空。等着买米下锅的老婆婆非常高兴，十分感谢 乐于助人的大书法家。
					</p>
				</div>
			</div>
			<div class="swiper-slide six">
				<img src="static/images/sixth.jpg">
				<div class="text">
					<h2>辛公义改变陋习</h2>
					<p>隋朝人辛公义曾任岷州（今甘肃岷县）刺史。当地的老百姓有一种陋习，凡是家里有人生了病，大家都害怕染上，谁都不肯照料病人往往得不到照顾和治疗而病情加重，很快死去。辛公义到任后了解到这相情况，就下令将病人抬到衙门里来，自己和数百位病人住在一起，亲自安排给他们看病服药的事情。经过细心照料，这些病人都恢复了健康。辛公义的行为不仅得到了人们的赞颂，也彻底改变了当地的陋习。
					</p>
				</div>
			</div>
			<div class="swiper-slide seven">
				<img src="static/images/seventh.jpg">
				<div class="text">
					<h2>以己之能，助人于难</h2>
					<p>己有能，勿自私.
					行高者，名自高。
					</p>
				</div>
			</div>
			<div class="swiper-slide eight">
				<img src="static/images/eighth.jpg">
				<div class="text">
					<h2>人心皆向善，仁而得人</h2>
					<p>仁远乎哉？我欲仁，斯仁至矣。 ——《论语》
					</p>
					<p>宽则得众。 ——《论语·阳货》</p>
					<p>德不孤，必有邻。 ——《论语》</p>
				</div>
			</div>
		</div>
		 <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
	</div>
	<div class="button-group">
		<h2>我们易助</h2>
		<div class="my-will">
			<button class="ui inverted red button">
				<i class="icon fire"></i>
			</button>
			<h3>团队精神</h3>
			<p>互帮互助</p>
			<p>实事求是</p>
			<p>开拓创新</p>
		</div>
		<div class="my-idea">
			<button class="ui inverted blue button">
				<i class="icon idea"></i>
			</button>
			<h3>项目理念</h3>
			<p>让帮助变的简单有效</p>
			<p>让人人都乐于帮助</p>
		</div>
		<div class="my-product">
			<button class="ui inverted green button">
				<i class="icon leaf"></i>
			</button>
			<h3>产品价值观</h3>
			<p>博爱</p>
			<p>感恩</p>
			<p>诚信</p>
		</div>
	</div>
	<div class="bottom-info">
		<div class="rights">
			Copyright © 2013-2015 E_HELP_WORKSHOP. All rights reserved.
		</div>
	</div>
	<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="static/js/semantic.min.js"></script>
	<script type="text/javascript" src="static/js/swiper.min.js"></script>
	<script type="text/javascript" src="static/js/culture.js"></script>

</body>
</html>