<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<title>易助官方首页</title>
	<link rel="icon" href="../static/images/SecureImages/logo.png">
	<link rel="stylesheet" type="text/css" href="../static/css/indexOne.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

</head>
<body class="bgc">
    <div class="notPC">
	    <div class=".col-xs-1 .col-sm-1"></div>
        <div class="title .col-xs-12 .col-sm-12">
        	<img src="../static/images/logo.png" alt="logo" class="logo"><img src="../static/images/title.png" alt="title" class="phonetitle">
        </div>
        <div class="introduction">
	        <img src="../static/images/helpPhone.png" alt="help">
	        <div class="slogan">易助让帮助变得容易<br />让人人乐于帮助</div>
	        <a href="/account/userinfo/downloadApp"><button class="btn btn-primary">点击下载</button></a>
        </div>
        <div class=".col-xs-1 .col-sm-1"></div>
    </div>
    <div class="PC">
		<div class="fix-groups">
		<a class="download-bt" href="http://120.24.208.130:8081/" target="blank">
				<i class="download icon"></i>
				<br>
				<span>下载</span>
			</a>
			<a class="female-bt">
				<i class="wechat icon"></i>
					<br>
					<span class="erweima"><img src="static/images/erweima.jpg"></span>
				<span>客服</span>
			</a>
		</div>
			<div class="banner">
			<div class="my-content">
				<a class="logo" href="/">
					<img src="../static/images/logo.png" class="logoimg">
				</a>
				<a class="item" href="/">易助首页</a>
				<a class="item" href="/structure">体系架构</a>
				<a class="item" href="/culture">文化理念</a>
				<a class="item" href="/help">帮助中心</a>
				<a class="item" href="/aboutus">关于我们</a>
				<a class="login" href="/account/login">
					<i class="sign in icon"></i>
					登录
				</a>
				<a class="signup" href="/account/regist">
					注册
					<i class="sign in icon"></i>
				</a>
			</div>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide one">
					<div class="text-first">
						<h1>易助</h1>
						<p class="first-text">让帮助变得简便有效</p>
						<p>让人人都乐于帮助</p>
					</div>
					<img class="map" src="../static/images/map.png">
				</div>
				<div class="swiper-slide two">
					<a class="meaning" href="javascript:void(0)">
						<h1>提问题，到易助</h1>
						<p>生活中遇到许多小问题如附近哪里有较好的自行车行等等，在易助上面提问，获得更贴心更亲切的回答。</p>
					</a>
				</div>
				<div class="swiper-slide three">
					<a class="meaning" href="javascript:void(0)">
						<h1>互帮互助，到易助</h1>
						<p>想为老人家、小孩等弱势群体尽一份力？想寻求他人的帮助？到易助，让你快捷获得身边人的爱心帮助。</p>
					</a>
				</div>
				<div class="swiper-slide four">
					<a class="meaning" href="javascript:void(0)">
						<h1>一键求救，到易助</h1>
						<p>突发状况时，使用易助一键求救，获得一线生机。</p>
					</a>
				</div>
			</div>
			 <!-- Add Pagination -->
	        <div class="swiper-pagination"></div>
	        <!-- Add Arrows -->
	        <div class="swiper-button-next"></div>
	        <div class="swiper-button-prev"></div>
		</div>
		<div class="core-function">
			<h1 class="functions-bar">核心功能</h1>
			<div class="tabs">
				<a class="question" href="javascript:void(0)">
					<i class="circular huge book brown icon"></i>
					<p>提问</p>
				</a>
				<a class="heart" href="javascript:void(0)">
					<i class="circular huge heart red icon"></i>
					<p>求助</p>
				</a>
				<a class="users" href="javascript:void(0)">
					<i class="circular huge users teal icon"></i>
					<p>求救</p>
				</a>
		</div>
		</div>
		<div class="sys-function">
			<div class="ui secondary segment">
				<h1 class="functions-bar">功能体系</h1>
				<div class="blocks">
					<a class="question" href="javascript:void(0)">
						<i class="empty heart icon"></i>
						<div class="text">
							<span>爱心银行</span>
							<p>爱心币家人共享，让人人乐于帮助，享受求助。</p>
						</div>
					</a>
					<a class="heart" href="javascript:void(0)">
						<i class="empty star icon"></i>
						<div class="text">
							<span>信誉体系</span>
							<p>实名认证，保障双方权益。</p>
						</div>
					</a>
					<a class="users" href="javascript:void(0)">
						<i class="globe icon"></i>
						<div class="text">
							<span>关系网络</span>
							<p>共同打造智慧社区，和睦邻里。</p>
						</div>
					</a>
					<a class="protection" href="javascript:void(0)">
						<i class="rain icon"></i>
						<div class="text">
							<span>权益保障体系</span>
							<p>助人过程自动存档，免除后顾之忧。</p>
						</div>
					</a>
					<a class="direction" href="javascript:void(0)">
						<i class="at icon"></i>
						<div class="text">
							<span>信息有向推送</span>
							<p>智能分析，精确匹配，保障质量</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="bottom-info">
			<div class="rights">
				Copyright © 2015-2015 DDL. All rights reserved.
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/semantic.min.js"></script>
	<script type="text/javascript" src="../static/js/swiper.min.js"></script>
	<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>