<!DOCTYPE>
<html>
<head>
	<title>功能体系</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../static/font/css/font-awesome.min.css">
	<link rel="icon" href="../static/images/SecureImages/logo.png">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/functions.js"></script>
	<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.flip.min.js"></script>
	<!-- 加上的 -->
	<script type="text/javascript" src="../static/js/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/functions.css">
</head>
<body>
	<div class="fix-groups">
		<a class="download-bt" href="http://120.24.208.130:8081/" target="blank">
			<i class="download icon"></i>
			<br>
			<span>下载</span>
		</a>
		<a class="female-bt">
			<i class="wechat icon"></i>
				<br>
				<span class="erweima"><img src="static/images/erweima.jpg"></span>
			<span>客服</span>
		</a>
	</div>
	<div class="banner">
		<div class="my-content">
			<a class="logo" href="/">
				<img src="../static/images/logo.png" class="logoimg">
			</a>
			<a class="item" href="/">易助首页</a>
			<a class="item" href="/structure">体系架构</a>
			<a class="item" href="/culture">文化理念</a>
			<a class="item" href="/help">帮助中心</a>
			<a class="item" href="/aboutus">关于我们</a>
			<a class="login" href="/account/login">
				<i class="sign in icon"></i>
				登录
			</a>
			<a class="signup" href="/account/regist">
				注册
				<i class="sign in icon"></i>
			</a>
		</div>
	</div>
	<div class="summarize">
		<div class="total-summarize">
			<div class="phone">
				<img src="../static/images/images/map_03.png">
				<ul class="left-func">
					<li>提问 <span class="icon-book"></span></li>
					<li>求助 <span class="icon-heart"></span></li>
					<li>求救 <span class="icon-user-md"></span></li>
				</ul>
				<ul class="right-func">
					<li><span class="icon-envelope"></span> 信息有向推送</li>
					<li><span class="icon-credit-card"></span> 爱心银行</li>
					<li><span class="icon-group"></span> 信誉体系</li>
					<li><span class="icon-globe"></span> 关系网络</li>
					<li><span class="icon-umbrella"></span> 权益保障体系</li>
				</ul>
			</div>
		</div>
		<div class="spec-summarize">
			<ul>
				<span class="li">
				<li class="show-inform0">
					<i class="sum-icon icon-book"></i>
					<h2>提问</h2>
					<p>实名认证和更加贴近生活是提问功能的两大特色。同时，提问信息的智能推送让问题的解决更加有效率。</p>
				</li>
				<div class="hide-inform0 hide-inform" >
					<h2>提问</h2>
					<p class="hp">更有效——问题有向推送，帮您找到那个最合适的解答者</p>
					<p>更加地气——邻里互动，了解我们最熟悉的陌生人</p>
					<p>更可靠——实名认证，专业解答</p>
				</div>
				</span>
				<span class="li">
				<li class="show-inform1">
					<i class="sum-icon icon-heart"></i>
					<h2>求助</h2>
					<p>求助功能旨在帮助社会弱势群体中的小问题，充分利用社会爱心资源。</p>
				</li>
				<div class="hide-inform1 hide-inform" >
					<h2>求助</h2>
					<p class="hp">更专业——求助类型精细分类</p>
					<p>更放心——信誉挂钩，相信彼此的真诚</p>
					<p>更快捷——帮您寻找离您最近的好心人</p>
					<p>更快乐——爱心流动，温暖你我</p>
				</div>
				</span>
				<span class="li">
				<li class="show-inform2">
					<i class="sum-icon icon-user-md"></i>
					<h2>求救</h2>
					<p>求救功能致力于提供用户在遇险时获得有效求助的几率，尽可能减轻用户的损失。</p>
				</li>
				<div class="hide-inform2 hide-inform" >
					<h2>求救</h2>
					<p class="hp">更简便——一键求救，危险情况分秒必争</p>
					<p>更智能——分析情景，提供最有效的求救方式</p>
					<p>更安全——给您一根最可靠的救命稻草</p>
				</div>
				</span>
			</ul>
		</div>
	</div>
	<p class="tip"><span class="word-ehelp">易助</span>带给您更多的<span class="word">帮助</span>与<span class="word">保护</span></p>
	<div class="image0 show"><span class="to-intro0 down"></span></div>
	<div class="introduction0 introduction">
		<div class="intro-text">
			<h2>信息有向推送</h2>
			<p>智能分析情景</p>
			<P>精准匹配施助人群</P>
			<p>提高获助几率，保障帮助质量</p>
		</div>
		<div class="intro-image"></div>
	</div>
	<div class="image1 show"><span class="to-intro1 down"></span></div>
	<div class="introduction1 introduction">
		<div class="intro-text">
			<h2>爱心银行</h2>
			<P>爱心币不停流动，让爱心传递</P>
			<p>爱心币不断积累，让爱心能“看得见”</p>
			<p>爱心币家人共享</p>
			<p>您的爱心会让元芳的父母得到更多帮助</p>
		</div>
		<div class="intro-image"></div>
	</div>
	<div class="image2 show"><span class="to-intro2 down"></span></div>
	<div class="introduction2 introduction">
		<div class="intro-text">
			<h2>信誉体系</h2>
			<p>实名认证</p>
			<p>打造一个真实，可信的互助体系</p>
			<p>反馈评价</p>
			<p>确保帮助质量，保障双方利益</p>
		</div>
		<div class="intro-image"></div>
	</div>
	<div class="image3 show"><span class="to-intro3 down"></span></div>
	<div class="introduction3 introduction">
		<div class="intro-text">
			<h2>关系网络</h2>
			<p>结合社区系统</p>
			<p>共同打造温馨，和谐的智慧社区</p>
			<p>邻里交流互助</p>
			<p>拉近彼此的距离</p>
		</div>
		<div class="intro-image"></div>
	</div>
	<div class="image4 show"><span class="to-intro4 down"></span></div>
	<div class="introduction4 introduction">
		<div class="intro-text">
			<h2>权益保障体系</h2>
			<p>求助施助信息自动存档</p>
			<p>免除救助者的后顾之忧</p>
		</div>
		<div class="intro-image"></div>
	</div>
	<div class="bottom-info">
		<div class="rights">
			Copyright © 2015-2015 DDL. All rights reserved.
		</div>
	</div>
</body>
</html>
