<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<title>帮助中心</title>
	<link rel="icon" href="static/images/SecureImages/logo.png">
	<link rel="stylesheet" type="text/css" href="static/css/common.css">
	<link rel="stylesheet" type="text/css" href="static/css/help.css">
	<link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
</head>
<body class="help-page">
	<div class="fix-groups">
		<a class="download-bt" href="http://120.24.208.130:8081/" target="blank">
			<i class="download icon"></i>
			<br>
			<span>下载</span>
		</a>
		<a class="female-bt">
			<i class="wechat icon"></i>
				<br>
				<span class="erweima"><img src="static/images/erweima.jpg"></span>
			<span>客服</span>
		</a>
	</div>
	<div class="banner">
		<div class="my-content">
			<a class="logo" href="/">
				<img src="static/images/logo.png" class="logoimg">
			</a>			<a class="item" href="/">易助首页</a>
			<a class="item" href="/structure">体系架构</a>
			<a class="item" href="/culture">文化理念</a>
			<a class="item" href="/help">帮助中心</a>
			<a class="item" href="/aboutus">关于我们</a>
			<a class="login" href="/account/login">
				<i class="sign in icon"></i>
				登录
			</a>
			<a class="signup" href="/account/regist">
				注册
				<i class="sign in icon"></i>
			</a>
		</div>
	</div>
	<div class="users-center">
		<ul>
			<li class="rise-question active">新手上路</li>
			<li class="get-help">基本功能解析</li>
			<li class="other-function">辅助功能</li>
			<li class="ordinary-question">常见问题</li>
			<li class="feedback">最近热点问题</li>
		</ul>
		<div class="center-content">
			<p class="rise-question">1.易助是什么?我在这里可以做些什么?</p>
			<p class="rise-question answer">易助致力于搭建一个更简便安全的网上求助施助平台，用户在这里即可就生活中的小疑惑提出问题，也能将生活中的小困难说出来让身边的热心人帮忙解决，遇到危险时还能用易助向您的紧急联系人、警察等寻求救助。</p>
			<p class="rise-question">2.如何注册使用？</p>
			<p class="rise-question answer">用户可通过绑定手机号等方式注册使用易助。
			易助推荐使用实名认证方式，用户可进入个人中心，在实名认证栏目下上传自己的个人照和二代身份证照片等相关证明，待系统审核通过后便可认证成功。</p>
			<p class="rise-question">3.实名认证有什么用？</p>
			<p class="rise-question answer">实名认证帮助系统更好的管理用户数据，也增大用户的可信度，方便用户关系的管理。通过实名认证过的用户增加一定的信誉值，让帮助用户更容易取得其他用户的信任，增大获助几率。</p>
			<p class="rise-question">4.为什么要完善资料信息？</p>
			<p class="rise-question answer">资料信息主要包括基本信息（用户，住址，邮箱、紧急联系人等）、认证信息以及健康信息，在用户遇到危险困难时，完善的资料信息能帮助系统更快速地帮用户找到合适的施助人群（如通过住址找邻居，通过健康卡了解用户健康信息以便施展救援），大大节省用户获得有效帮助的时间，提高获助几率。而且详细的个人身份证明也会提高信誉值，让别人更愿意相信您，帮助您。</p>
			<p class="rise-question">5.一定要实名认证吗？实在不会实名认证怎么办？</p>
			<p class="rise-question answer">实名认证并不是强制性的，但通过实名认证过的用户增加一定的信誉值，让您更容易取得其他用户的信任，增大获助几率。如果远在家乡的父母等亲人不会自己上传的话，也可通过一人通过实名认证担保全家的方式帮他们通过认证，以方便用户的使用。</p>
			<p class="rise-question">6.爱心币有什么用? </p>
			<p class="rise-question answer">当需要寻求帮助时，可以通过悬赏爱心币来吸引更多的人帮助您。您还可以用爱心币和当地的爱心组织换取免费的爱心服务或是到社区超市去兑换爱心奖励。 此外，您获得的爱心币还可以与家人共享，共建家庭账户。当您的家人没有足够的爱心币时，系统会允许他们使用家庭账户中的爱心币，您日常奉献爱心的小举动会帮助他们在需要的时候得到他人的帮助。</p>
			<p class="rise-question">7. 怎样才能得到爱心币? </p>
			<p class="rise-question answer">易助向您推送求助信号后，如果您能及时采取一定的行动去帮助求助者，易助将会在系统上记录下您的爱心行动，并在爱心行动结束时让求助者对您的帮助给予评价。然后根据帮助的事件的性质以及受助者的评价对您的爱心行为给予相应的爱心币奖励。</p>
			<p class="rise-question">8.信誉值是什么？</p>
			<p class="rise-question answer">信誉值反映出用户的可信度，取值为0-1。在用户进行求助施助、系统进行信息推送时，都会优先考虑信誉值排名前列的人，甚至适用于未来的贷款求职时对个人信誉进行评估。
			</p>
			<p class="rise-question">9.如何提升信誉值？</p>
			<p class="rise-question answer">信誉值主要由两种方式决定，一个是关于个人资料，包括绑定邮箱，实名认证等完善资料的方式；其二是双方互评机制，每次帮助结束后，系统会提示双方对本次帮助进行评价，评价的结果也会由系统折算进入个人信誉总值中。</p>

			<p class="get-help hide">1. 易助的提问功能跟知乎等其他网站的提问功能最大的区别是什么？</p>
			<p class="get-help answer hide">易助起始发展是基于社区的一个生活环境，因此产品会营造出一个更加贴近社区居民生活的问题解答环境，如一个初来乍到的新用户对当地环境不太了解可直接在易助系统上提问，问题将会被直接推给至他所居住的小区居民或附近的用户，相较于网上已有的问答而言，大大得提高了问答效率和针对性，所得到的答案也会更准确、具体，而实名制的方式使答案增加了可信度。</p>
			<p class="get-help hide">2. 易助的求助功能适用于什么场景呢？</p>
			<p class="get-help answer hide">危险并非常有发生，但生活上的一些小困难却是每天都会遇到，此时用户可根据自己所遇到的困难在系统平台上发出求助信息并给出一定的报酬（如爱心币等），其他用户可以根据系统发送的信息通过衡量自己的情况决定是否予以帮助，这不仅可以充分利用空闲的人力资源解决问题，也能大大增进邻里关系。</p>
			<p class="get-help hide">3. 如何发出求救并通知别人前来救援？</p>
			<p class="get-help answer hide">使用易助的安卓端，长按主页下方的加号键就能进去求救页面，为防止用户误触，我们设有5秒的防误触缓冲期，若用户5秒后没有取消，则向周围的人发送求救请求。易助会根据用户的地理位置向周围的其他易助用户发出求救请求，并以默认求救短信的方式通知求助者的紧急联系人。</p>

			<p class="other-function hide">1. 附近的人和聊天功能有何用处？</p>
			<p class="other-function answer hide">“附近的人”能让您更直观地看到附近有哪些人正在寻求帮助，若您愿意帮助他们的时候，便可通过聊天的方式询问他们的一些具体情况，以便更好地施展帮助。此外，这两款功能能帮您结识更多身边的人，扩大您的交际圈。</p>
			<p class="other-function hide">2. 地图功能如何使用</p>
			<p class="other-function answer hide">地图功能适用于当您愿意提供帮助时，系统更快捷地为您规划出一条尽快到达求助者身边的路径，节省帮助的时间，提高帮助的效率。</p>

			<p class="ordinary-question hide">1. 易助在用户需要帮助时向其他用户推送求助信息时是怎么集中各方力量的援助的，也即是怎么找相应的“爱心天使”的？</p>
			<p class="ordinary-question answer hide">产品推出初期我们会和一些社区服务机构进行合作，社区住户将通过实名认证方式使用本产品，与该社区内的诊所、物业、安保等机构共同形成一个网上社区圈。当某一居民用户遇到困难发出求助信息时，系统就可根据这一关系通过分析不同的求助类型和场景将信息推送给特定的人群（比如亲朋邻里，社区医生保安等），使用户能得到及时有效安全的帮助。</p>
			<p class="ordinary-question hide">2. 假如我在遇险时使用易助的一键求救功能会不会让某些附近的坏人看到然后“乘火打劫”？</p>
			<p class="ordinary-question answer hide">易助设计了信任与信誉模块来确保一个安全，绿色的帮助环境。我们在向您邻近的易助用户推送您的求救信息时也会优先向信誉较高的易助用户发出求救信号，尽可能降低了风险。</p>
			<p class="ordinary-question hide">3. 通过易助帮助其他人是否可以得到相应的保障？比如不会帮助他人后反被陷害等？</p>
			<p class="ordinary-question answer hide">易助是基于互联网的一款软件，所有的信息都会在云端保存，当出现好心反遭坏报的情况时，只要在云端找到相应的求助施助信息便能为施助者提供最有力的保证。同时，那些讹人者的信誉值会大大降低以提醒以后的施助者。
			</p>

			<p class="feedback hide">1. 如何进行评论？</p>
			<p class="feedback answer hide">每次求助行为结束后，系统会自动弹出评价框让双方对本次行为进行评价，只有当双方都给予评价之后才能看到对方给自己的评价。评价有效时间在事件结束后一周内，如果一周内没有给予评价，则系统给出默认值。</p>
			<p class="feedback hide">2. 评价细则是怎样的？</p>
			<p class="feedback answer hide">易助采取双方互评机制以保障帮助的质量，每次帮助结束后，帮助者可以评价求助者的求助是否真实，求助者可对求助者的服务态度、响应速度、服务质量以及可信任度进行评价，分为1星至5星六个等级，默认为3星。</p>
			<p class="feedback hide">3. 信誉值和爱心币有何区别？</p>
			<p class="feedback answer hide">信誉值体现出用户的可信度，而爱心币主要体现用户的爱心多少。二者相辅相成，都会在求助施助时影响发起人和系统对人员的选择。</p>
			<p class="feedback hide">4. 信誉等级有什么划分？</p>
			<p class="feedback answer hide">信誉值的最高值为1，具体划分有
				<table>
					<tr>
					<td> 称呼</td>
					<td> 新手</td>
					<td> 混球</td>
					<td> 坏蛋</td>
					<td> 平民</td>
					<td> 热心人</td>
					<td> 慈善家</td>
					</tr>

					<tr>
					<td>分值</td>
					<td>未定值/-1</td>
					<td>[0, 0.1]</td>
					<td>(0.1, 0.3]</td>
					<td>(0.3, 0.7]</td>
					<td>(0.7, 0.9]</td>
					<td>(0.9, 1]</td>
					</tr>
				</table>
			<span class="newuser">新用户初始信誉为0，客户端显示为新手。新用户必须参与至少1次求助帮助事件才可获得他的初始信誉。</span>
			</p>
			<p class="feedback hide">5. 爱心币可以用现实中的货币购买吗？</p>
			<p class="feedback answer hide">爱心币是网上的一种虚拟货币，不与现实货币挂钩。它主要用于鼓励人们行善，倡导爱心的流动。但一定数量的爱心币可以吸引更多的人帮助你，还能换取公益组织的免费公益服务和兑换社区超市的爱心奖励。</p>
			<p class="feedback hide">6. 如何防止刷好评？</p>
			<p class="feedback answer hide">易助采用跳水评分机制进行过滤：即计算全局信誉时，去掉其最高的20%，去掉其最低的20%，再聚合其剩余部分的信任值得到系统的全局信誉。这样既能过滤掉一部分夸大评价，也能过滤掉一部分诋毁评价，更显得公平客观。时间衰减的特性也可以过滤掉部分之前刷出来的信誉，由于时间衰减的特性，过去积累的信任会随着时间的增长逐渐减小，更看重最近合作得到的信用评价。</p>

		</div>
	</div>
	<div class="bottom-info">
		<div class="rights">
			Copyright © 2013-2015 E_HELP_WORKSHOP. All rights reserved.
		</div>
	</div>
	<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="static/js/semantic.min.js"></script>
	<script type="text/javascript" src="static/js/help.js"></script>
</body>
</html>