<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="icon" href="{{static_url("images/SecureImages/logo.png")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/common.css")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/phone.css")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/semantic.min.css")}}">
</head>
<body class="phone-page">
	<div class="fix-groups">
		<a class="download-bt" href="http://120.24.208.130:8081/" target="blank">
			<i class="download icon"></i>
			<br>
			<span>下载</span>
		</a>
		<a class="female-bt">
			<i class="wechat icon"></i>
				<br>
				<span class="erweima"><img src="static/images/erweima.jpg"></span>
			<span>客服</span>
		</a>
	</div>
	<div class="banner">
		<div class="my-content">
			<a class="logo">
				<img src="{{static_url("images/logo.png")}}" class="logoimg">
			</a>
            <a class="item" href="/">易助首页</a>
            <a class="item" href="/structure">体系架构</a>
            <a class="item" href="/culture">文化理念</a>
            <a class="item" href="/help">帮助中心</a>
            <a class="item" href="/aboutus">关于我们</a>
            <a class="login" href="/account/login">
                <i class="icon-signin"></i>
                登录
            </a>
            <a class="signup" href="/account/regist">
                注册
                <i class="icon-signin"></i>
            </a>
		</div>
	</div>
	<div class="phone-wrapper">
		<div class="ui ordered steps">
			<div class="completed step">
				<div class="content">
					<div class="title">
						身份验证
					</div>
					<div class="description">
						输入您的登陆账号
					</div>
				</div>
			</div>
			<div class="step active">
				<div class="content">
					<div class="title">
						找回密码
					</div>
					<div class="description">
						重置您的密码
					</div>
				</div>
			</div>
			<div class="step">
				<div class="content">
					<div class="title">
						操作完成
					</div>
					<div class="description">
						打 dasd
					</div>
				</div>
			</div>
		</div>
		<div class="ui piled segments">
			<div class="identify">
				<form class="ui form">
					{% raw xsrf_form_html() %}
					<input id = "secret" type="hidden">
					<div class="field">
						<label>用户名</label>
						<input id="account" type="text" name="account" placeholder="account" value="比如: liyang">
					</div>
					<div class="field">
						<label>绑定的邮箱</label>
						<input id="email" type="text" name="email" placeholder="email number" value="比如: 1225646303@qq.com">
					</div>
					<div class="two fields">
						<div class="field">
							<label>验证码</label>
							<input id="identification" type="text" name="identification" placeholder="identification">
						</div>
						<div class="identify-bt field">
							<button id="iden_button" class="ui inverted orange button" type＝"button">获取验证码</button>
						</div>
					</div>
					<button id="submit_button" class="ui button">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="bottom-info">
		<div class="rights">
			Copyright © 2015-2015 DDL. All rights reserved.
		</div>
	</div>
	<script type="text/javascript" src="{{static_url("js/jquery-2.1.4.min.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/semantic.min.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/script.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/jquery.md5.js")}}"></script>
</body>
</html>