{% extends "base.html" %}
{% block header %}
	<title>实名认证</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/reputation.css")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/real-name.css")}}">
{% end %}
{% block content %}
	
	<div class="main">
		<div class="leftdiv">
			<div class="lefthigh">
				<p>我的信誉</p>
			</div>
			<div class="perimg">
				<!-- <img src="{{static_url("images/BankImages/图5.png")}}"> -->
				<img src="{{static_url("images/head/" + avatar)}}" id="avatar">
			</div>
			<p class="word"><img src="{{static_url("images/icon/tusan.png")}}" class="icon_img"> 我的信誉值：<span>{{reputation}}</span></p>
		</div>

		<div class="rightdiv">
			<p class="p1"> 如何提高信誉值?</p>
			<div class="star">
				<img src="{{static_url("images/icon/tuyi.png")}}">
			</div>
			<div class="para">
				<p class="big">实名认证</p>
				<p>绑定手机邮箱等身份证明可以增加您的信誉值</p>
			</div>
			<div class="star">
				<img src="{{static_url("images/icon/tuer.png")}}">
			</div>
			<div class="para">
				<p class="big">双方互评</p>
				<p>每次帮助结束后的双方互评，若对方对您的评价较高，可提高您的信誉值</p>
			</div>
			<p class="p1"> 信誉等级</p>
			<table>
				<tr>
				<td>称呼</td>
				<td>新手</td>
				<td>混球</td>
				<td>坏蛋</td>
				<td>平民</td>
				<td>热心人</td>
				<td>慈善家</td>
				</tr>

				<tr>
				<td>分值</td>
				<td>未定值/-1</td>
				<td>[0, 0.1]</td>
				<td>(0.1, 0.3]</td>
				<td>(0.3, 0.7]</td>
				<td>(0.7, 0.9]</td>
				<td>(0.9, 1]</td>
				</tr>
			</table>
			<a href="/help" target="blank"><button type="button" class="more">查看详情</button></a>
		</div>
	</div>

{% end %}

{% block footer %}
{% end %}