{% extends "base.html" %}
{% block header %}
	<title>账户安全</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("css/changeInform.css")}}">
{% end %}
{% block content %}
	<input type="hidden" id="id" value="{{id}}">
	<input type="hidden" id="email" value="{{email}}">
	<div class="wrap">
		<img src="{{static_url("images/SecureImages/sent.png")}}">
		<p style="margin:5%;">我们向您 {{email}} 发送了验证邮件 验证邮箱可以更好的保护您的账户安全，请在24小时内验证！</p>
		<p>没收到?</p>
		<div><button type="button" class="btn btn-primary" id="sendEmail">再次发送</button></div>
	</div>
{% end %}

{% block footer %}
	<script type="text/javascript" src="{{static_url("js/sendEmailForModifyEmail.js")}}"></script>
{% end %}