body.phone-page {
	background-color: #e9eff3;
}

.phone-wrapper {
	width: 800px;
	margin: 30px auto 0 auto;
}

.phone-wrapper {
	min-height: 400px;
}

.ui.ordered.steps {
	width: 800px;
	margin: 0 auto;
}

.identify {
	width: 300px;
}

.ui.segments.piled {
	padding: 30px 0 30px 250px;
}

.identify-bt {
	padding-top: 25px;
}

.logoimg {
  width: 70px;
  height: 60px;
}