<!DOCTYPE>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/common.css">
	<link rel="stylesheet" type="text/css" href="static/css/help.css">
	<link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
</head>
<body class="help-page">
	<div class="fix-groups">
		<a class="download-bt" href="/account/userinfo/downloadApp">
			<i class="download icon"></i>
			<br>
			<span>下载</span>
		</a>
		<a class="female-bt">
			<i class="female icon"></i>
			<br>
			<span>客服</span>
		</a>
	</div>
	<div class="banner">
		<div class="my-content">
			<a class="logo" href="/">
				<img src="static/images/logo.png" class="logoimg">
			</a>			<a class="item" href="/">易助首页</a>
			<a class="item" href="/structure">体系架构</a>
			<a class="item" href="/culture">文化理念</a>
			<a class="item" href="/help">帮助中心</a>
			<a class="item" href="/aboutus">关于我们</a>
			<a class="login" href="/account/login">
				<i class="sign in icon"></i>
				登陆
			</a>
			<a class="signup" href="/account/regist">
				注册
				<i class="sign in icon"></i>
			</a>
		</div>
	</div>
	<div class="users-center">
		<ul>
			<li class="rise-question active">新手上路</li>
			<li class="get-help">基本功能解析</li>
			<li class="other-function">辅助功能</li>
			<li class="ordinary-question">常见问题</li>
			<li class="feedback">最近热点问题</li>
		</ul>
		<div class="center-content">
			<p class="rise-question">1.易助是什么?我在这里可以做些什么?
			</p>
			<p class="rise-question answer">易助致力于搭建一个更简便安全的网上求助施助平台，用户在这里即可就生活中的小疑	惑提出问题，也能将生活中的小困难说出来让身边的热心人帮忙解决，遇到危险时还能用易助向您的紧急联系人、警察等寻求救助。易助，让帮助变得更加简单，让人人都乐于帮助。。</p>
			<p class="rise-question">2.如何注册使用？</p>
			<p class="rise-question answer">用户可通过绑定手机号等方式注册使用易助。
				易助推荐用户进行实名认证，用户可从个人主页进入个人中心，在实名认证栏目下上传自己的个人照和二代身份证照片等相关证明，待系统审核通过后便可认证成功。</p>
			<p class="rise-question">3.一定要实名认证吗？实在不会实名认证怎么办？
			</p>
			<p class="rise-question answer">实名认证并不是强制性的，但通过实名认证过的用户增加一定的信誉值，让您更容易取得其他用户的信任，增大获助几率。如果远在家乡的父母等亲人不会自己上传的话，也可通过一人通过实名认证担保全家的方式帮他们通过认证，以方便用户的使用。</p>
			<p class="rise-question">4.积分如何获得？和爱心币有什么关联？
			</p>
			<p class="rise-question answer">积分是易助上代表用户等级的一种方式，用户可以通过每日签到等方式获得相应的积分。100个积分便可兑换一个爱心币</p>
			<p class="rise-question">5. 爱心币有什么用? 怎样才能得到爱心币?</p>
			<p class="rise-question answer">爱心币的多少在一定程度上反映了用户的爱心程度，同时也会跟用户的信誉直接挂钩。当需要寻求帮助时，可以通过悬赏爱心币来吸引更多的人帮助您。此外，您获得的爱心币还可以与家人共享，当您在外时，您的家人可以用这些爱心币寻求帮助或者是向当地的爱心组织换取免费的爱心服务。 
			易助向您推送求助信号后，如果您能及时采取一定的行动去帮助求助者，易助将会以一定方式记录下您的爱心行动，并在爱心行动结束时让求助者对您的帮助给予评价。然后根据帮助的事件的性质以及受助者的评价对您的爱心行为给予相应的爱心币奖励。
			</p>
			<p class="get-help hide">1. 易助的提问功能跟知乎等其他网站的提问功能最大的区别是什么？</p>
			<p class="get-help answer hide">易助起始发展是基于社区的一个生活环境，因此产品会营造出一个更加贴近社区居民生活的问题解答环境，如一个初来乍到的新用户对当地环境不太了解可直接在易助系统上提问，问题将会被直接推给至他所居住的小区居民或附近的用户，相较于网上已有的问答而言，大大得提高了问答效率和针对性，所得到的答案也会更准确、具体，而实名制的方式使答案增加了可信度。</p>
			<p class="get-help hide">2. 易助的求助功能适用于什么场景呢？</p>
			<p class="get-help answer hide">课业难题、物件维修等等问题您都可以使用易助的求助功能。危险并非常有发生，但生活上的一些小困难却是每天都会遇到，此时用户可根据自己所遇到的困难并根据紧急程度在系统平台上发出求助信息并给出一定的报酬（如爱心币等），其他用户可以根据系统发送的信息通过衡量自己的情况决定是否予以帮助，这不仅可以充分利用空闲的人力资源解决问题，也能大大增进邻里关系。</p>
			<p class="get-help hide">3. 当老年人突发意外时还来不及按下求救功能，易助是否也能发挥作用呢？</p>
			<p class="get-help answer hide">可以的。老人突然昏迷，通过易助配套的可穿戴设备监控的生理数据，并根据易助软件对生理数据的分析，易助可以判断出老人的昏迷状况并发出求救信息。此时系统根据信息有向性推送将求救信息发送给社区医生（救治老人）、管理人员（若老人无法开门可协助开门）及邻居（人员不足时协助扶出老人），并及时通知老人家属，当情况紧急时及时赶往大医院，尽快让老人得到救护。</p>
			<p class="other-function hide">1. 附近的人和聊天功能有何用处？</p>
			<p class="other-function answer hide">“附近的人”能让您更直观地看到附近有哪些人正在寻求帮助，若您愿意帮助他们的时候，便可通过聊天的方式询问他们的一些具体情况，以便更好地施展帮助。此外，这两款功能能帮您结识更多身边的人，扩大您的交际圈。</p>
			<p class="other-function hide">2. 地图功能如何使用</p>
			<p class="other-function answer hide">地图功能适用于当您愿意提供帮助时，系统更快捷地为您规划出一条尽快到达求助者身边的路径，节省帮助的时间，提高帮助的效率。</p>
			<p class="ordinary-question hide">1. 易助是怎么预防小孩失踪的？</p>
			<p class="ordinary-question answer hide">易助会绑定孩子与家长的设备，当孩子离开家长一定范围后，及时向家长的设备发出警告。当孩子已经走失后，由家长控制或孩子按“迷路走失求救”按钮，手机自动开启导航，语音导回到家长身边；或者家长教导小孩到附近安全的地方等待，再由手机导航至孩子身边。系统将时刻关注孩子周围的动态，准确定位，并将消息推送给家长以实时保护孩子安全。</p>
			<p class="ordinary-question hide">2. 易助在用户需要帮助时向其他用户推送求助信息时是怎么集中各方力量的援助的，也即是怎么找相应的“爱心天使”的？
			</p>
			<p class="ordinary-question answer hide">首先易助在用户使用一键求助功能时会先向其邻近的信誉较好的易助用户发出求助信号。其次，易助将依靠一套特殊的关系体制，以保障用户能得到安全有效的服务。产品推出初期我们会和一些社区服务机构进行合作，社区住户将通过实名认证方式使用本产品，与该社区内的诊所、物业、安保等机构共同形成一个网上社区圈。当某一居民用户遇到困难发出求助信息时，系统就可根据这一关系通过分析不同的求助类型和场景将信息推送给特定的人群（比如亲朋邻里，社区医生保安等），使用户能得到及时有效安全的帮助。</p>
			<p class="ordinary-question hide">3. 假如我在遇险时使用易助的一键求救功能会不会让某些附近的坏人看到然后“乘火打劫”？</p>
			<p class="ordinary-question answer hide">易助设计了信任与信誉模块来确保一个安全，绿色的帮助环境。我们在向您邻近的易助用户推送您的求救信息时也会优先向信誉较高的易助用户发出求救信号，尽可能降低了风险。
			</p>
			<p class="ordinary-question hide">4. 我在易助上面求助的都是什么样的人？</p>
			<p class="ordinary-question answer hide">易助有一套特殊的建立关系体制，以保障用户能得到安全有效的服务。产品推出初期我们会和一些社区服务机构进行合作，社区住户将通过实名认证方式使用本产品，与该社区内的诊所、物业、安保等机构共同形成一个网上社区圈。邻里之间可在易助平台上交流互动，物业机构亦可在平台上发布信息，以此建立稳定的社区关系。当某一居民用户遇到困难发出求助信息时，系统就可根据这一关系通过分析不同的求助类型和场景将信息推送给特定的人群（比如亲朋邻里，社区医生保安等），使用户能得到及时有效安全的帮助。
			</p>
		</div>
	</div>
	<div class="bottom-info">
		<div class="icons">
			<a>
				<i class="qq icon"></i>
			</a>
			<a>
				<i class="weibo icon"></i>
			</a>
			<a>
				<i class="wechat icon"></i>
			</a>
		</div>
		<div class="rights">
			Copyright © 2013-2015 E_HELP_WORKSHOP. All rights reserved.
		</div>
	</div>
	<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="static/js/semantic.min.js"></script>
	<script type="text/javascript" src="static/js/help.js"></script>
</body>
</html>