<html>
<head>
	<title>账户安全</title>
	<meta charset="utf-8">
	<link rel="icon" href="{{static_url("images/e-help.png")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/bootstrap.min.css")}}">
	<link rel="stylesheet" type="text/css" href="{{static_url("css/changeInform.css")}}">
	<script type="text/javascript" src="{{static_url("js/jquery-1.10.0.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/bootstrap.min.js")}}"></script>
	<script type="text/javascript" src="{{static_url("js/sendEmailForModifyEmail.js")}}"></script>

</head>
<body>
	<input type="hidden" id="id" value="{{id}}">
	<input type="hidden" id="email" value="{{email}}">
	<div class="navbar navbar-inverse" role="navigation">
	      <div class="navbar-header">
	        <a href="/account" class="navbar-brand"><img src="{{static_url("images/SecureImages/logo.png")}}" class="logo logoimg"></a>
	      </div>
	      <ul class="nav navbar-nav">
	        <li><a href="/account"><img src="{{static_url("images/SecureImages/Home.png")}}" class="navLogo">首页</a></li>
	        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="bank1.html"><img src="{{static_url("images/SecureImages/Heart.png")}}" class="navLogo">爱心银行<span class="caret"></span></a>
	                <ul class="dropdown-menu">
	                  <li><a href="bank3.html">转账</a></li>
	                  <li><a href="bank2.html">收支记录</a></li>
	                </ul>
	        </li>
	        <li><a href="#"><img src="{{static_url("images/SecureImages/People.png")}}" class="navLogo">我的信誉</a></li>
	            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{static_url("images/SecureImages/user.png")}}" class="navLogo">个人中心<b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                      <li><a href="#">实名认证</a></li>
	                      <li><a href="#">个人信息</a></li>
	                  <li><a href="#">易助记录</a></li>
	              </ul>
	            </li>
	          <li><a href="#"><img src="{{static_url("images/SecureImages/Message.png")}}" class="message"></a></li>
	          <li class="dropdown leftfloat"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{static_url("images/SecureImages/Settings.png")}}" class="message"><b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                      <li><a href="/account/userinfo/modify">账号安全</a></li>
	                      <li><a "/account/logout">退出登录</a></li>
	              </ul>
	            </li>
	      </ul>
	</div>
	<div class="wrap">
		<img src="{{static_url("images/SecureImages/sent.png")}}">
		<p style="margin:5%;">我们向您 {{email}} 发送了验证邮件 验证邮箱可以更好的保护您的账户安全，请在24小时内验证！</p>
		<p>没收到?</p>
		<div><button type="button" class="btn btn-primary" id="sendEmail">再次发送</button></div>
	</div>
</body>
</html>