<!DOCTYPE>
<html>
<head>
    <title>易助</title>
    <link rel="icon" href="e-help.png">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/we.css">
    <link rel="stylesheet" href="static/font/css/font-awesome.min.css">
    <link rel="icon" href="static/images/myReputation/e-help.png">
    <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/feedback.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>

<body>
    <div class="banner">
        <div class="my-content">
            <a class="logo" href="/"><img src="static/images/AboutUsImages/logo.png" class="logoimg"></a>
            <a class="item" href="/">易助首页</a>
            <a class="item" href="/structure">体系架构</a>
            <a class="item" href="/culture">文化理念</a>
            <a class="item" href="/help">帮助中心</a>
            <a class="item" href="/aboutus">关于我们</a>
            <a class="login" href="/account/login">
                <i class="icon-signin"></i>
                登陆
            </a>
            <a class="signup" href="/account/regist">
                注册
                <i class="icon-signin"></i>
            </a>
        </div>
    </div>

    <div class="block">
        <img src="static/images/AboutUsImages/合照1.jpg" class="photo1">
        <img src="static/images/AboutUsImages/合照3.jpg" class="photo3">
        <img src="static/images/AboutUsImages/合照2.jpg" class="photo2">
        <p class="p1">
        易助项目本着“让帮助变得简便有效，让人人都乐于帮助”的理念，针对弱势群体，把高新技术运用到他们的日常生活中，简化各种帮助的形式，设计了不同的模块来鼓励大家互帮互助并建立信誉和权益保障体系，为人们提供一个更加简便、有效、安全的求助和施助途径。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目将以老人小孩等弱势群体为出发点，逐渐推向全社会，形成全体公民间的一个互帮互助的体系。
        </p><br />
        <p class="p2"><b>团队介绍</b></p>
        <div class="col1">
            <img src="static/images/AboutUsImages/余阳头像.png" class="img">
            <p><br />中国计算机协会（CCF）高级会员、ACM会员、IEEE计算机协会会员、中山大学软件学院教授、中山大学软件人才培训中心主任。</p>
            <p><img src="static/images/AboutUsImages/王金鑫头像.jpg" class="img"></p>
            <p>中山大学软件学院实验室助手</p>
            <br /><br /><br />
            <p><img src="static/images/AboutUsImages/黎洋头像.png" class="img"></p>
            <p>中山大学2013级学生、软件工程2014级初级实训核心TA、软件工程2015级程序设计(I)TA</p>
        </div>
        <div class="col2">
            <p class="p3"><br />余阳</p>
            <p class="p4">易助项目发起人</p>
            <p class="p3"><br /><br /><br /><br />王金鑫</p>
            <p class="p4">项目技术指导</p>
            <p class="p3"><br /><br /><br />黎洋</p>
            <p class="p4">项目总负责人</p>
        </div>
        <div class="col3">
            <img src="static/images/AboutUsImages/潘茂林头像.jpg" class="img">
            <p><br />易助项目指导者。专注于高频课程设计，软件测试课程设计，系统分析与设计。</p>
            <p><br /><img src="static/images/AboutUsImages/邓成林头像.jpg" class="img"></p>
            <p>中山大学软件工程研究生、余阳老师实验室助手</p>
        </div>
        <div class="col2">
            <p class="p3"><br />潘茂林</p>
            <p class="p4">易助项目指导老师</p>
            <p class="p3"><br /><br /><br /><br />邓成林</p>
            <p class="p4">项目技术指导</p>
        </div>
        <p class="p2"><br /><b>用户反馈</b></p>
        <p class="contact">对易助有什么评价、意见或建议，欢迎联系我们</p>
        <div class="p6">
            <div class="form-group">
                <!-- {% raw xsrf_form_html() %} -->
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="1" id="fb_title"></textarea>
                </div>
            </div><br /><br />
            <div class="form-group">
                <label class="col-sm-2 control-label">正文</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="6" id="fb_content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><br />联系方式</label>
                <div class="col-sm-10"><br />
                    <textarea class="form-control" rows="1" id="fb_contact" placeholder="邮箱，QQ，手机号码(可不填)"></textarea>
                </div>
            </div>
            <p><button type="button" class="btn btn-primary" id="fb_send">发送</button></p>
        </div>
    </div>

    <div class="block1">
        <div class="container">
            <p class="p7"><span class="icon-phone"></span> 1234567</p>
            <p class="p7"><span class="icon-envelope"></span> ehelp@mail.com</p>
            <p class="p7"><span class="icon-map-marker"></span> 中山大学东校区外环</p>
        </div>
        <p id="copyright">
            Copyright © 2014-2015 E-Help. All Rights Reserved.
        </p>  
    </div>

</body>
</html>